<app-header></app-header>
<div class="second_block">
  <div class="second_block_cont">
      <div class="second_block_name">
        <h2>О нас</h2>
      </div>
      <div class="second_block_content">
          <div class="second_block_content_right">

               <div class="second_block_content_text">
                  <div class="wrapper exmpl">
                      <img src="../../../assets/520_1Z.jpg">
                  </div>
                  <div class="second_block_content_text_container">
                        <div class="second_block_name">
                            <h2>Iluma store</h2>
                        </div>
                      <div class="second_block_content_text_name">
                        <p>{{ aboutParagraph1 }}</p>
                      </div>
                      <div class="second_block_content_text_name">
                        <p>{{ aboutParagraph2 }}</p>
                      </div>
                  </div>    
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>

