.second_block{
    width: 100%;
    // height: 738px;
    background: #3e5a68;
}
.second_block_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 62.5%;
    margin: 0 auto;
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.second_block_content{
    display: flex;
    justify-content: center;
}
.second_block_content_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.second_block_content_text{
    display: flex;
    .wrapper {
        width: 100vw;
        height: 490px;
        // border: 5px solid #515151;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        border-radius: 10px;
      }
      .exmpl img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
      }
}
.second_block_footer{
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #6D6D6D;
}
.second_block_name, .third_block_container_name{
    // font-family: "Play", sans-serif;
    // font-style: normal;
    // font-weight: bold;
    // font-size: 50px;
    // padding-bottom: 25px;
    // line-height: 139.9%;
    // text-transform: uppercase;
    // color: #fff;
    h2 {
        font-family: "Play", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        padding-bottom: 25px;
        line-height: 139.9%;
        text-transform: uppercase;
        color: #fff;
    }
}
.second_block_content_text_name{
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    padding-bottom: 25px;
    color: #fff;
}
.second_block_content_text_discr{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    color: #6D6D6D;
}
.second_block_content_text_container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
}
@media (min-width:360px) and (max-width:1345px) {
    .second_block_content_text {
        flex-direction: column;
        width: 90vw;
    }
    .wrapper {
        width: auto !important;
        height: 400px !important;
    }
    .second_block_content_text_container {
        margin-left: 0px;
    }
    .second_block_cont {
        width: 90vw;
    }
}