<div class="second_block">
  <div class="second_block_cont">

      <div class="second_block_content">
          <div class="second_block_content_right">
               <div class="second_block_content_text">
                  <div class="wrapper exmpl">
                      <img src="{{ getDataSource.img }}">
                  </div>
                  <div class="second_block_content_text_container">
                    <div class="second_block_name">
                      {{ getDataSource.name }}
                   </div>
                   <div class="second_block_content_text_discr">
                     Цвета: {{ getDataSource.color }}
                   </div>
                   <div class="second_block_content_text_name">
                      {{ getDataSource.discrtiption }}
                    </div>
                    <div class="second_block_content_text_name">
                    <!-- <a href="https://t.me/ilumastoreRU" target="_blank"> -->
                      <button mat-button class="button-name-acent" (click)="incrementCounter(); setItem(getDataSource.id,getDataSource.price, getDataSource.name)"> Заказать </button>
                    <!-- </a> -->
                      <button mat-button class="button-name"> {{ getDataSource.price }}</button>
                    </div>
                  </div>    
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>