/* второй блок */
.second_block{
    width: 100%;
    height: 680px;
    background: #3e5a68;
    background: url('./../../../../assets/1069.jpg');
    background-size: cover;
    margin-bottom: 0px;
}
.second_block_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 62.5%;
    margin: 0 auto;
    height: 100%;
}
.second_block_content{
    display: flex;
    justify-content: flex-start;
}
.second_block_content_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.second_block_content_text{
    display: flex;
    .wrapper {
        width: 700px;
        height: 500px;
         /* border: 5px solid #515151; */
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        border-radius: 10px;
      }
      .exmpl img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
      }
}
.second_block_footer{
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #6D6D6D;
}
.second_block_name, .third_block_container_name{
    // font-family: "Play", sans-serif;
    font-family: "Jura Light";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 139.9%;
    text-transform: uppercase;
    color: #fff;
}
.second_block_content_text_name{
    // font-family: "Comfortaa", sans-serif;
    font-family: "Hero Light";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    padding-bottom: 25px;
    color: #fff;
    .button-name {
        font-family: "Jura Light";
        margin-right: 10px;
    }
    .button-name-acent {
        // background: #75f4fa;
        font-family: "Jura Light";
        margin-right: 10px;
    }
}
.second_block_content_text_discr{
    // font-family: "Comfortaa", sans-serif;
    font-family: "Hero Light";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 15px;
    line-height: 120%;
    color: #fff;
}
.second_block_content_text_container{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 40px;
    width: 100%;
}
.button-name,
.button-name-acent {
    line-height: 0px;
    text-decoration: none;
    padding: 17px 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(66, 183, 174);
    color: #9ecdd3 !important;
	text-transform:  uppercase;
    transition: .2s ease-in-out;
}
.button-name-acent:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.button-name-acent:hover {
    background: #83bec5;
    color: #fff !important;
}
.button-name-acent:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}
.button-name-acent:focus {
    background: #83bec5;
    color: #fff !important;
    outline: none;
}
@media (min-width:360px) and (max-width:1345px) {
    .second_block {
        height: auto;
        .second_block_cont {
            width: 90vw;
            padding-top: 15px;
            padding-bottom: 25px;
        }
        .second_block_content_text {
            flex-direction: column;
        }
        .second_block_content_text_container {
            margin-left: 0px;
        }
        .wrapper { 
            width: auto;
        }
    }
    .second_block_name {
        text-transform: none;
        font-size: 36px;
        padding-top: 25px;
    }
    .second_block_content_text_name {
        font-size: 16px;
    }
}