<app-header></app-header>
<div class="second_block">
  <div class="second_block_cont">

      <div class="second_block_content">
          <div class="second_block_content_right">
               <div class="second_block_content_text">
                  <!-- <div class="wrapper exmpl">
                      <img src="{{ getDataSource.img }}">
                  </div> -->
                  <div class="second_block_content_text_container">
                    <div class="second_block_name">
                      <p>Корзина</p>
                      <!-- {{ getDataSource.name }} -->
                   </div>
                   <div class="second_block_content_text_discr">
                     <!-- Цвета: {{ getDataSource.color }} -->
                   </div>
                   <div class="second_block_content_text_name">
                    <table class="table" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>№ П.П.</th>
                          <th>Наименование</th>
                          <th>Цена</th>
                          <th>Действие</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of count.items; let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.price }}</td>
                          <td>
                            <button mat-button class="button-name-del" (click)="count.clearItemById(item.id)">
                              <mat-icon>clear</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button mat-button class="button-name-acent"> Заказать </button>
                    <button mat-button class="button-name" (click)="count.clearItemCount()"> Очистить </button>
                      <!-- {{ getDataSource.discrtiption }} -->
                    </div>
                    <div class="second_block_content_text_name">
                    <!-- <a href="https://t.me/ilumastoreRU" target="_blank"> -->

                    <!-- </a> -->
                      
                    </div>
                  </div>    
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>