<div class="wrapper">
  <div class="wrapper-container">
    <div class="container-block">

    </div>
    <div class="container-block">
      <button mat-button color="primary">Главная</button>
      <button mat-button color="primary">Стики</button>
      <button mat-button color="primary">Устройства</button>
      <button mat-button color="primary">О нас</button>
      <button mat-button color="primary">Контакты</button>
    </div>
    <div class="container-block">
      
    </div>
  </div>
</div>