.wrapper {
    // position: fixed;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 7vh;
    background: #18222f;
    z-index: 999;
    box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 50%);
    .count-button {
        display: flex;
        align-items: center;
        border-radius: 35px;
        color: #ffffff;
        background: #3e5a68;
        border: 2px solid #18222f00;
        cursor: pointer;
        transition: .5s ease-in-out;
        &:hover {
            border: 2px solid #83bec5;
        }
    }
    .badge {
        background: #83bec5;
        padding: 5px;
        margin: auto;
        font-size: 14px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        display: block;
    }
    .wrapper-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        .block-item {
            color: #fff;
        }
    }
    .container-block, .container-block-logo {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-block-mobile, .block-mobile {
        display: none
    }
}
.wrapper-logo {
    height: 50px;
    width: 50px;
}
.exmpl-logo {
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
  border-radius: 100px;
}
.exmpl-logo img {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
}
.block-item {
    line-height: 0px;
    text-decoration: none;
    font-family: 'Jura Light';
    font-weight: bold;
    // font-family: "distroy23";
    // display: inline-block;
    padding: 15px 15px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    // border: 1px solid #527c82;
    // background: #83bec5;
    color: #fff !important;
	font-size: 0.950em;
	text-transform:  uppercase;
    transition: .2s ease-in-out;
}
.block-item:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.block-item:hover {
    background: #83bec5;
    color: #fff !important;
}
.block-item:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}
.block-item:focus {
    background: #83bec5;
    color: #fff !important;
    outline: none;
}
.number_cont {
    display: flex;
    .wrapper {
        height: 40px;
        width: 40px;
        border: 2px solid transparent;
        // border: 5px solid #515151;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        box-shadow: none;
        border-radius: 100px;
        margin-right: 7px;
        background: #f0ffff00;
        transition: all .3s ease-out;
        &.exmpl-tg:hover {
            border: 2px solid #139bd0; // Стиль ховера для кнопки tg
        }

        &.exmpl-wa:hover {
            border: 2px solid #61b15a; // Стиль ховера для кнопки wa
        }
      }
      .exmpl img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
      }
}
@media (min-width:360px) and (max-width:1345px) {
    ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: none;
        background: #18222f;
    }
    ::ng-deep .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
        justify-content: center;
        color: #fff;
        margin: 15px;
        font-weight: 500;
    }
    ::ng-deep.mat-expansion-panel-content {
        align-items: center;
    }
    .button-mobile {
        width: 100%;
        padding: 0px;
        color: #fff;
    }
    .wrapper {
        height: 8.3vh;
    }
    .wrapper-logo {
        height: 40px;
        width: 40px;
    }
    .media-creen-block {
      width: auto;
    }
    .container-block {
        display: none;
    }
    .block-mobile {
        background: #18222f;
        position: fixed;
        color: #fff;
        height: 100vh;
        width: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        .block-item-mobile {
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 16px;
        }
    }
    .wrapper-container {
        .container-block-mobile, .block-mobile {
            display: block;
        }
    }
    .number_cont {
        justify-content: center;
        padding-top: 25px;
    }
    .wrapper {
        box-shadow: none;
    }
  }
  @media (min-width:825px) and (max-height:426px){
    .wrapper {
        height: 15vh;
    }
    .block-mobile {
        padding-top: 15vh;
    }
    .block-item-mobile {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
  }