<div class="wrapper">
  <div class="wrapper-container">
    <div class="container-block">

    </div>
    <div class="container-block">
      <button mat-button class="block-item">Главная</button>
      <button mat-button class="block-item">Стики</button>
      <button mat-button class="block-item">Устройства</button>
      <button mat-button class="block-item">О нас</button>
      <button mat-button class="block-item">Контакты</button>
    </div>
    <div class="container-block">
      
    </div>
  </div>
</div>