<div class="wrapper">
  <div class="wrapper-container">
    <div class="container-block-logo">
      <button mat-button class="block-logo" routerLink="/">
        <div class="wrapper-logo exmpl-logo">
            <img id = "header_container_logo_img" src="../../../assets/logo.jpeg" alt="image">
        </div>
      </button>
    </div>
    <div class="container-block">
      <a href="#home">
        <button mat-button class="block-item" routerLink="/">Главная</button>
      </a>
      <a href="#sticks">
        <button mat-button class="block-item">Стики</button>
      </a>
      <a href="#devices">
        <button mat-button class="block-item">Устройства</button>
      </a>
      <a href="#about">
        <button mat-button class="block-item">О нас</button>
      </a>
      <a href="#feedback">
        <button mat-button class="block-item">Отзывы</button>
      </a>
      <!-- <button mat-button class="block-item" routerLink="/home">Контакты</button> -->
    </div>
    <div class="container-block">

        <div class="number_cont">
          <a href="https://t.me/ilumastoreRU" target="_blank">
            <div class="wrapper exmpl exmpl-tg">
                <img src="../../../assets/tg1.png" alt="image">
            </div>
          </a>
          <a href="https://wa.me/79670518019" target="_blank">
            <div class="wrapper exmpl exmpl-wa">
                <img src="../../../assets/wa1.png" alt="image">
            </div>
          </a>
          <!-- <button class="count-button" routerLink="/card">
            <span class="badge">{{ count.getItemCount() }}</span>
            <mat-icon>shopping_cart</mat-icon>
          </button> -->
        </div>
      
    </div>
    <div class="container-block-mobile">
      <button (click)="isOpen()" mat-button class="block-item">
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="isCollapse" class="block-mobile">
  <button mat-button class="block-item-mobile" routerLink="/" (click)="isClose()">Главная</button>
  <mat-divider></mat-divider>
  <!-- <button mat-button class="block-item-mobile" routerLink="/sticks">Стики</button> -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Стики
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button class="button-mobile" routerLink="/eu" (click)="isClose()">Европа</button>
      <button mat-button class="button-mobile" routerLink="/am" (click)="isClose()">Армения</button>
      <button mat-button class="button-mobile" routerLink="/id" (click)="isClose()">Индонезия</button>
      <button mat-button class="button-mobile" routerLink="/kz" (click)="isClose()">Казахстан</button>
      <!-- <p>This is the primary content of the panel.</p> -->
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Устройства
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button class="button-mobile" routerLink="/details/1" (click)="isClose()">IQOS Iluma standart</button>
      <button mat-button class="button-mobile" routerLink="/details/2" (click)="isClose()">IQOS Iluma Prime</button>
      <button mat-button class="button-mobile" routerLink="/details/3" (click)="isClose()">IQOS ILUMA ONE</button>
      <!-- <p>This is the primary content of the panel.</p> -->
    </mat-expansion-panel>
  </mat-accordion>
  
  <!-- <button mat-button class="block-item-mobile" routerLink="/device">Устройства</button> -->
  <!-- <mat-divider></mat-divider> -->
  <!-- <button mat-button class="block-item-mobile" routerLink="/about">О нас</button>
  <mat-divider></mat-divider> -->
  <!-- <button mat-button class="block-item-mobile" routerLink="/home">Контакты</button>
  <mat-divider></mat-divider> -->
  <div class="number_cont">
    <div class="wrapper exmpl exmpl-tg">
        <img src="../../../assets/tg1.png" alt="image">
    </div>
    <div class="wrapper exmpl exmpl-wa">
        <img src="../../../assets/wa1.png" alt="image">
    </div>
  </div>
</div>

