<app-header></app-header>
    <div class="third_block">
      <div class="third_block_container">
        <div class="image-container"></div>
          <div class="third__block__container">
              <div class="third_block_container_name">
                <h2>Стики</h2>
              </div>
              <div class="third_block_container_title">
                <h2>Европа</h2>
              </div>
              <div class="third_block_container_content_left_discr">
                  <div *ngFor="let item of eu">
                      <mat-card class="mat-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ item.name }}</mat-card-title>
                          </mat-card-header>
                          <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                            <p>{{ item.discrtiption }}</p>
                            <p>{{ item.info }}</p>
                            <p style="font-weight: 500;">{{ item.region }}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <a href="https://t.me/ilumastoreRU" target="_blank">
                              <button mat-stroked-button class="button-action">Цена: {{ item.price }}</button>
                            </a>
                          </mat-card-actions>
                        </mat-card>

                  </div>
              </div>
              <div class="third_block_container_title">
                <h2>Индонезия</h2>
              </div>

              <div class="third_block_container_content_left_discr">

                <div *ngFor="let item of id">

                    <mat-card class="mat-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>{{ item.discrtiption }}</p>
                          <p>{{ item.info }}</p>
                          <p style="font-weight: 500;">{{ item.region }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                          <a href="https://t.me/ilumastoreRU" target="_blank">
                            <button mat-stroked-button class="button-action">Цена: {{ item.price }}</button>
                          </a>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>

            <div class="third_block_container_title">
              <h2>Армения</h2>
            </div>

            <div class="third_block_container_content_left_discr">
              <div *ngFor="let item of am">
                  <mat-card class="mat-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{ item.name }}</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <p>{{ item.discrtiption }}</p>
                        <p>{{ item.info }}</p>
                        <p style="font-weight: 500;">{{ item.region }}</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <a href="https://t.me/ilumastoreRU" target="_blank">
                          <button mat-stroked-button class="button-action">Цена: {{ item.price }}</button>
                        </a>
                      </mat-card-actions>
                    </mat-card>
              </div>
          </div>
          <div class="third_block_container_title">
            <h2>Казахстан</h2>
          </div>
          <div class="third_block_container_content_left_discr">
            <div *ngFor="let item of kz">
                <mat-card class="mat-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{ item.name }}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>{{ item.discrtiption }}</p>
                      <p>{{ item.info }}</p>
                      <p style="font-weight: 500;">{{ item.region }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <a href="https://t.me/ilumastoreRU" target="_blank">
                        <button mat-stroked-button class="button-action">Цена: {{ item.price }}</button>
                      </a>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>