.rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
    font-family: 'Hero Light';
    color: #fff;
    font-size: 18px;
}
.rating-avatar {
    .wrapper {
        width: 50px;
        height: 50px;
        margin-left: 25px;
        border-radius: 50px;
    }
    .exmpl {
        overflow: hidden;
        box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
    }
    .exmpl img {
        width: auto;
        height: 100%;
    }
}
.rating-avatar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #fff;
    padding: 25px;
}
.rating-feedback {
    padding: 25px;
}
.rating {
    width: 30%;
    padding: 25px;
}
.rating-container3 {
    display: flex;
    flex-direction: row-reverse;
    padding: .5em .5em .5em 5em;
    gap: 10px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border: none;
    position: relative;
    background: #2b2b2b;
    box-shadow: 0 1px 1px hsl(0deg 0% 0%/0.075), 0 2px 2px hsl(0deg 0% 0%/0.075),
        0 4px 4px hsl(0deg 0% 0%/0.075), 0 8px 8px hsl(0deg 0% 0%/0.075),
        0 16px 16px hsl(0deg 0% 0%/0.075);
    .rating-value3 {
        position: absolute;
        top: -10px;
        left: -15px;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background: #18222f;
        box-shadow: 0 1px 1px hsl(0deg 0% 0%/0.075), 0 2px 2px hsl(0deg 0% 0%/0.075),
            0 4px 4px hsl(0deg 0% 0%/0.075), 0 8px 8px hsl(0deg 0% 0%/0.075),
            0 16px 16px hsl(0deg 0% 0%/0.075), inset 0 0 10px #18222f, 0 0 10px #18222f;
        &:before {
            position: absolute;
            top: 3px;
            bottom: 0px;
            left: 0px;
            right: -3px;
            margin: auto;
            text-align: center;
            line-height: 60px;
            font-size: 2.5em !important;
            font-family: 'distroy23';
            color: #a1f1ff;
            content: "0";
            transform-origin: "center center";
            transition: all 0.25s ease 0s;
        }
        &:after {
            content: "";
            position: absolute;
            height: 60px;
            width: 60px;
            top: -1px;
            left: -1px;
            margin: auto;
            border: 1px solid #18222f;
            border-radius: 50%;
            transition: all 0.4s ease-in;
        }
    }
    input {
        display: none;
    }
    label {
        height: 25px;
        width: 25px;
        transform-origin: "center center";
        svg {
            transition: transform 0.4s ease-in-out;
            opacity: 0.5;
        }
        &:hover {
            svg {
                transform: scale(1.25) rotate(10deg);
            }
        }
    }
    input:checked ~ label svg {
        opacity: 1;
        transform: scale(1.25) rotate(10deg);
    }
    
    label:hover {
        svg,
        ~ label svg {
            opacity: 1;
            transform: scale(1.25) rotate(10deg);
        }
    }
    
    input:checked {
        + label:hover svg {
            opacity: 1;
        }
    
        ~ label:hover {
            svg,
            ~ label svg {
                opacity: 1;
            }
        }
    }
    
    label:hover ~ input:checked ~ label svg {
        opacity: 1;
    }
    
    #rate-c1:checked ~ .rating-value3:before {
        content: "1";
        font-size: 2.75em;
    }
    
    label[for="rate-c1"]:hover ~ .rating-value3:before {
        content: "1" !important;
        font-size: 2.75em !important;
    }
    
    #rate-c2:checked ~ .rating-value3:before {
        content: "2";
        font-size: 3em;
    }
    
    label[for="rate-c2"]:hover ~ .rating-value3:before {
        content: "2" !important;
        font-size: 3em !important;
    }
    
    #rate-c3:checked ~ .rating-value3:before {
        content: "3";
        font-size: 3.25em;
    }
    
    label[for="rate-c3"]:hover ~ .rating-value3:before {
        content: "3" !important;
        font-size: 3.25em !important;
    }
    
    #rate-c4:checked ~ .rating-value3:before {
        content: "4";
        font-size: 3.5em;
    }
    
    label[for="rate-c4"]:hover ~ .rating-value3:before {
        content: "4" !important;
        font-size: 3.5em !important;
    }
    
    #rate-c5:checked ~ .rating-value3:before {
        content: "5";
        font-size: 3.75em;
    }
    
    @keyframes pulse {
        0% {
            height: 138px;
            width: 138px;
            top: -1px;
            left: -1px;
            opacity: 1;
        }
        100% {
            height: 170px;
            width: 170px;
            top: -16px;
            left: -16px;
            opacity: 0;
        }
    }
    
    #rate-c5:checked ~ .rating-value3:after {
        animation: pulse 0.4s ease-out 1;
    }
    
    label[for="rate-c5"]:hover ~ .rating-value3:before {
        content: "5" !important;
        font-size: 3.75em !important;
    }
}

@media (min-width:360px) and (max-width:1345px) {
    .rating-feedback {
        padding: 15px;
        p {
            font-size: 12px;
        }
    }
    .rating-row {
        .rating {
            width: 10%;
            padding: 20px;
        }
        .rating-container3 {
            padding: 0.4em 0.4em 0.4em 3em;
            gap: 0px;
        }
        label {
            height: 15px;
            width: 15px;
        }
        .rating-value3 {
            height: 50px;
            width: 50px;
            &:before {
                line-height: 50px;
            }
            &:after {
                height: 50px;
                width: 50px;
            }
        }
        .rating-avatar {
            padding: 15px;
            .wrapper {
                width: 40px;
                height: 40px;
                margin-left: 15px;
            }
            h3 {
                margin: 0 0 0px;
                font-size: 12px;
            }
        }
    }
 }
