<div class="second_block">
  <div class="second_block_cont">
      <div class="second_block_content">
          <div class="second_block_content_right">
            <div class="third_block_container_discrtiption">

                <div class="mat-wrapper" *ngFor="let item of kz">
                    <mat-card class="mat-card">
                        <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                        <mat-card-content class="mat-info">
                        <h2>{{ item.name }}</h2>
                        <p>{{ item.discrtiption }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <h3>{{ item.name }}</h3>
                            <h3>{{ item.region }}</h3>
                        <a href="https://t.me/ilumastoreRU" target="_blank" style="margin: auto;">
                            <button mat-button class="button-action">{{ item.price }}
                                <mat-icon style="margin-top: -4px;">local_mall</mat-icon>
                            </button>
                        </a>
                        </mat-card-actions>
                    </mat-card>
                </div>

            </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>