<app-header></app-header>
    <div class="third_block">
      <div class="third_block_container">
        <div class="image-container"></div>
          <div class="third__block__container">
              <div class="third_block_container_name">
                <h2>Устройства</h2>
              </div>
              <div class="third_block_container_content_left_discr">
                  <div *ngFor="let item of sticks">
                      <mat-card class="mat-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ item.name }}</mat-card-title>
                          </mat-card-header>
                          <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                            <p>
                              {{ item.discrtiption }}
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-stroked-button class="button-action" (click)="isShowDetails(item.id)">Подробнее</button>
                          </mat-card-actions>
                        </mat-card>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <app-footer></app-footer>