/* третий блок */
.mat-card {
    width: 300px;
    height: 750px;
    .mat-card-actions {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    .mat-card-content {
        text-align: center;
        height: 190px;
    }
    .button-action {
        width: 100%;
    }
}
.second_block_name, .third_block_container_name{
    // font-family: "Play", sans-serif;
    // font-style: normal;
    // font-weight: bold;
    // font-size: 50px;
    // text-align: center;
    // padding-top: 5vh;
    // line-height: 139.9%;
    // text-transform: uppercase;
    // background: #3e5a6878;
    // border-radius: 0 0 10px 10px;
    // backdrop-filter: blur(15px);
    // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    // color: #fff;
    h2 {
        font-family: "Play", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        padding-top: 5vh;
        line-height: 139.9%;
        text-transform: uppercase;
        background: #3e5a6878;
        border-radius: 0 0 10px 10px;
        backdrop-filter: blur(15px);
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        color: #fff;
    }
}
.image-container{
    background-image: url(../../../assets/8840375.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
}
.third_block{
    width: 100%;
    height: auto;
    background: #799da0;
    margin-bottom: 0px;
}
.third_block_container{
    display: flex;
    justify-content: space-around;
    width: 62.5%;
    margin: 0 auto;
    height: 100%;    
}
.third__block__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    z-index: 1;
}
.text-content {
    font-family: "Comfortaa", sans-serif;
    color: #18222f;
    padding-top: 25px;
    padding-bottom: 25px;
}
.third_block_container_content_left_img{
    display: flex;
    justify-content: space-between;
}
.third_block_container_content_left_discr{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 139.9%;
    color: #6D6D6D;
}
.fourth_block_content_left_images_one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:360px) and (max-width:1345px) {
    .third_block_container {
        width: 91vw;
    }
    .third_block_container_content_left_discr {
        flex-direction: column;
        padding-bottom: 0px;
        .mat-card {
            margin-bottom: 25px;
            width: auto;
            height: auto;
        }
    }
  }