<footer>
  <div class="footer_container">
      <div class="footer_container_logo">
        <button mat-button class="block-logo" routerLink="/">
          <div class="wrapper exmpl">
              <img id = "header_container_logo_img" src="../../../assets/logo.jpeg" alt="image">
          </div>
        </button>
      </div>
      <!-- <div class="footer_container_center_nemu">

      </div> -->
      <div class="footer_container_right_menu">
        <div class="order">
          <div class="button_block">
            <a href="https://t.me/ilumastoreRU" target="_blank">
              <button mat-button class="button-name">Заказать</button>
            </a>
          </div>

          <div class="button_menu">
            <ul class="header_container_right_menu_ul">
              <li class="footer_container_menu_ul_li"><button mat-button class="block-item" routerLink="/">Главная</button></li>
              <li class="footer_container_menu_ul_li"><button mat-button class="block-item" routerLink="/home">Контакты</button></li>
              <li class="footer_container_menu_ul_li"><button mat-button class="block-item" routerLink="/about">О нас</button></li>
              <li class="footer_container_menu_ul_li"><button mat-button class="block-item" routerLink="/device">Устройства</button></li>
              <li class="footer_container_menu_ul_li"><button mat-button class="block-item" routerLink="/sticks">Стики</button></li>
            </ul>

          </div>
          <div class="button_info">
            <div class="number_cont">
                <a href="https://t.me/ilumastoreRU" target="_blank">
                    <div class="wrapper exmpl exmpl-tg">
                        <img src="../../../assets/tg1.png" alt="image">
                    </div>
                </a>
                <a href="https://wa.me/79670518019" target="_blank">
                    <div class="wrapper exmpl exmpl-wa">
                        <img src="../../../assets/wa1.png" alt="image">
                    </div>
                </a>
              </div>
          </div>
        </div>
          <div class="contacts">
              <div class="number">
                  <div class="number_img">
                      <mat-icon>perm_identity</mat-icon>
                      <!-- <img src="src/Vector.png" alt="image"> -->
                  </div>
                  <div class="number_number">
                      Менеджер: <a href="https://t.me/Alena_ilumastoreRUS" target="_blank" rel="noopener noreferrer"  class="block_link">Alena</a> 
                  </div>
                  <div class="button_block_mob">
                    <a href="https://t.me/ilumastoreRU" target="_blank">
                      <button mat-button class="button-name">Заказать</button>
                    </a>
                  </div>
              </div>
              <div class="web_site">
                <div class="number_img">
                    <mat-icon>currency_exchange</mat-icon>
                </div>
                <div class="number_number">
                    Продажа <a href="https://t.me/ilumastoreRU" target="_blank" rel="noopener noreferrer" class="block_link">Iqos Iluma(One, Standart,Prime), а также стиков "Terea".</a>
                </div>
              </div>
              <div class="web_site">
                <div class="number_img">
                    <mat-icon>local_shipping</mat-icon>
                </div>
                <div class="number_number">
                    Самовывоз г.Москва - метро Отрадное (Декабристов 12). Отправка CDEK/ Яндекс такси
                </div>
              </div>
          </div>
      </div>
  </div>
</footer>