/* футер */

footer{
    width: 100vw;
    height: 180px;
    background: #0f1317;
}
a{
    font-family: "Play", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0.78125%;
    text-align: right;
    // text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.button-name {
    line-height: 0px;
    text-decoration: none;
    font-family: 'Jura Light';
    padding: 17px 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(66, 183, 174);
    color: #9ecdd3 !important;
	text-transform:  uppercase;
    transition: .2s ease-in-out;
}
.button-name:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.button-name:hover {
    background: #83bec5;
    color: #fff !important;
}
.button-name:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}
.button-name:focus {
    background: #83bec5;
    color: #fff !important;
    outline: none;
}
.block_link {
    &:hover {
        color: #83bec5;
    }
}
.block-item {
    line-height: 0px;
    text-decoration: none;
    font-family: 'Jura Light';
    font-weight: bold;
    // display: inline-block;
    padding: 15px 15px;
    // margin: 10px 10px;
    position: relative;
    overflow: hidden;
    // border: 1px solid #527c82;
    // background: #83bec5;
    color: #fff !important;
	font-size: 0.950em;
	text-transform:  uppercase;
    transition: .2s ease-in-out;
}
.block-item:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.block-item:hover {
    background: #83bec5;
    color: #fff !important;
}
.block-item:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}
.block-item:focus {
    background: #83bec5;
    color: #fff !important;
    outline: none;
}

.footer_container_menu_ul_li {
    display: flex;
    justify-content: center;
    // padding: 15px;
    border-radius: 7px;
    transition: all .5s ease-out;
}
.footer_container_logo {
    .wrapper {
        height: 70px;
        width: 70px;
        // border: 5px solid #515151;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        border-radius: 100px;
      }
      .exmpl img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
      }
}
.footer_container{
    display: flex;
    justify-content: space-between;
    width: 62.5%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    
    
}
.header_container_right_menu_ul{
    display: flex;
    max-height: 85px;
    height: 100%;
    padding: 0px;
    
}
.footer_container_center_nemu{
    flex-grow: 0.6;
}
.contacts{
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Hero Light";
    .number_img {
        padding-right: 15px;
    }
}
.number, .web_site{
    display: flex;
    justify-content: space-between;
    .button_block_mob {
        display: none;
    }
    // margin-top: 25px;
    // margin-left: 20px;
}
.footer_container_menu_ul_li{
    margin-top: 10px;
    list-style-type: none;
}
.order {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    .button_info {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }
    .button_menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}
.number_cont {
    display: flex;
    .wrapper {
        height: 40px;
        width: 40px;
        border: 2px solid transparent;
        // border: 5px solid #515151;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        // box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        border-radius: 100px;
        margin-right: 7px;
        transition: all .3s ease-out;
        &.exmpl-tg:hover {
            border: 2px solid #139bd0; // Стиль ховера для кнопки tg
        }

        &.exmpl-wa:hover {
            border: 2px solid #61b15a; // Стиль ховера для кнопки wa
        }
      }
      .exmpl img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
      }
}

@media (min-width:360px) and (max-width:1345px) {
    footer {
        height: auto;
    }
    .footer_container {
        flex-direction: column;
        width: 90vw;
        padding-top: 25px;
        padding-bottom: 25px;
        .header_container_right_menu_ul {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 90vw;
            padding: 0px;
            margin-bottom: 36px;
        }
        .button_block {
            text-align: center;
        }
        .contacts {
            flex-direction: column;
        }
        .order {
            display: none !important;
        }
        .button_block_mob {
            display: block;
        }
        .number {
            width: 100%;
            align-items: center;
            button {
                padding: 15px;
            }
        }
    }
}