    <!-- хэдер -->
<!-- <app-header></app-header> -->

<div class="sticky-container">
  <div class="mobile-sticky1">
    <div class="sticky-section body-bg" id="home">

        <section class="wrapper">
            <div class="wrapper-content">
                <div class="col-12 content-info info">
                    <div class="first_block_container">
                        <div class="first_block_container_title">
                            <h2>{{ title }}</h2>
                        </div>
                        <div class="first_block_container_discrtiption">
                            <p>{{ discrtiption1 }}</p>
                            <p>{{ discrtiption2 }}</p>
                        </div>
                    </div>
                    <a href="https://t.me/ilumastoreRU" target="_blank">
                        <button mat-button class="button-order">Заказать</button>
                    </a>
                </div>
                <div class="col-12 content-img">
                    <div class="wrapper exmpl">
                        <img src="../../../assets/screen2.jpg">
                    </div>
                </div>
            </div>
        </section>

    </div>
  </div>

<div class="mobile-sticky2">
  <div class="sticky-section body-bg2" id="about">

    <section class="wrapper">
        <div class="wrapper-content">
            <div class="col-12 content-img">
                <div class="wrapper exmpl">
                    <img src="../../../assets/screen3.jpg">
                </div>
            </div>
            <div class="col-12 content-info info">
                <div class="second_block_container">
                    <div class="second_block_container_title">
                        <h2>О нас</h2>
                    </div>
                    <div class="second_block_container_discrtiption">
                        <p>{{ aboutParagraph1 }}</p>
                        <p>{{ aboutParagraph2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  </div>
</div>

<div class="mobile-sticky3">
  <div class="sticky-section body-bg3" id="devices">

    <section class="wrapper">
        <div class="wrapper-content">
            <div class="col-12 content-info info">
                <div class="third_block_container">
                    <div class="third_block_container_title">
                        <h1>Устройства</h1>
                    </div>
                    <div class="third_block_container_discrtiption_mobile">

                        <div class="card-wrapper" *ngFor="let item of assort">
                            <div class="card-content">
                                <div class="card-img">
                                    <div class="wrapper_mob exmpl_mob">
                                        <img src="{{ item.img }}" alt="Photo of a Shiba Inu">
                                    </div>
                                </div>
                                <div class="card-discrtiption">
                                    <h3>{{ item.name }}</h3>
                                    <button mat-button class="button-action" (click)="isShowDetails(item.id)">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="third_block_container_discrtiption">

                            <div class="mat-wrapper" *ngFor="let item of assort">
                                <mat-card class="mat-card">
                                    <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                                    <mat-card-content class="mat-info">
                                      <h2>{{ item.name }}</h2>
                                      <p>{{ item.discrtiption }}</p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <h3>{{ item.name }}</h3>
                                      <button mat-button class="button-action" (click)="isShowDetails(item.id)">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                      </button>
                                    </mat-card-actions>
                                  </mat-card>
                            </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</div>

<div class="mobile-sticky4">
  <div class="sticky-section body-bg4" id="sticks">

    <section class="wrapper">
        <div class="wrapper-content">
            <div class="col-12 content-info info">
                <div class="four_block_container">
                    <div class="four_block_container_title">
                        <h1>Стики</h1>
                    </div>
                    <div class="four_block_item_mobile">
                        <div class="block_item_info">
                            <p>{{ info }}</p>
                        </div>
                        <div class="card-item-wrapper">
                            <div class="card-item-content">
                                <div class="card-item-img">
                                    <div class="wrapper_mob exmpl_mob">
                                        <img src="./../../../assets/01.jpg" alt="Photo of a Shiba Inu">
                                    </div>
                                </div>
                                <div class="card-item-actions">
                                    <h3>Европа</h3>
                                    <button mat-button class="button-action" routerLink="/eu">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-item-wrapper">
                            <div class="card-item-content">
                                <div class="card-item-img">
                                    <div class="wrapper_mob exmpl_mob">
                                        <img src="./../../../assets/02.jpg" alt="Photo of a Shiba Inu">
                                    </div>
                                </div>
                                <div class="card-item-actions">
                                    <h3>Армения</h3>
                                    <button mat-button class="button-action" routerLink="/am">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-item-wrapper">
                            <div class="card-item-content">
                                <div class="card-item-img">
                                    <div class="wrapper_mob exmpl_mob">
                                        <img src="./../../../assets/03.jpg" alt="Photo of a Shiba Inu">
                                    </div>
                                </div>
                                <div class="card-item-actions">
                                    <h3>Индонезия</h3>
                                    <button mat-button class="button-action" routerLink="/id">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-item-wrapper">
                            <div class="card-item-content">
                                <div class="card-item-img">
                                    <div class="wrapper_mob exmpl_mob">
                                        <img src="./../../../assets/04.jpg" alt="Photo of a Shiba Inu">
                                    </div>
                                </div>
                                <div class="card-item-actions">
                                    <h3>Казахстан</h3>
                                    <button mat-button class="button-action" routerLink="/kz">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four_block_item">
                        <div class="block_item">
                            <div class="mat-wrapper">
                                <mat-card class="mat-card">
                                    <img mat-card-image src="./../../../assets/01.jpg" alt="Photo of a Shiba Inu">
                                    <!-- <mat-card-content class="mat-info">
                                    <h2>{{ item.name }}</h2>
                                    <p>{{ item.discrtiption }}</p>
                                    </mat-card-content> -->
                                    <mat-card-actions>
                                        <h3>Европа</h3>
                                    <button mat-button class="button-action" routerLink="eu">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="mat-wrapper">
                                <mat-card class="mat-card">
                                    <img mat-card-image src="./../../../assets/02.jpg" alt="Photo of a Shiba Inu">
                                    <!-- <mat-card-content class="mat-info">
                                    <h2>{{ item.name }}</h2>
                                    <p>{{ item.discrtiption }}</p>
                                    </mat-card-content> -->
                                    <mat-card-actions>
                                        <h3>Армения</h3>
                                    <button mat-button class="button-action" routerLink="am">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>                            
                        </div>
                        <div class="block_item_info">
                            <p>{{ info }}</p>
                        </div>
                    </div>
                    <div class="four_block_item">
                        <div class="block_item_info" style="text-align: end;">
                            <p>{{ subInfo }}</p>
                        </div>
                        <div class="block_item">
                            <div class="mat-wrapper">
                                <mat-card class="mat-card">
                                    <img mat-card-image src="./../../../assets/03.jpg" alt="Photo of a Shiba Inu">
                                    <!-- <mat-card-content class="mat-info">
                                    <h2>{{ item.name }}</h2>
                                    <p>{{ item.discrtiption }}</p>
                                    </mat-card-content> -->
                                    <mat-card-actions>
                                        <h3>Индонезия</h3>
                                    <button mat-button class="button-action" routerLink="id">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="mat-wrapper">
                                <mat-card class="mat-card">
                                    <img mat-card-image src="./../../../assets/04.jpg" alt="Photo of a Shiba Inu">
                                    <!-- <mat-card-content class="mat-info">
                                    <h2>{{ item.name }}</h2>
                                    <p>{{ item.discrtiption }}</p>
                                    </mat-card-content> -->
                                    <mat-card-actions>
                                        <h3>Казахстан</h3>
                                    <button mat-button class="button-action" routerLink="kz">
                                        <mat-icon style="margin-top: -4px;">info</mat-icon>
                                    </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</div>

<div class="mobile-sticky5">
  <div class="sticky-section body-bg5" id="feedback">
    <section class="wrapper">
        <div class="col-12 feedback-title">
            <div class="five_block_container_title">
                <h2>Отзывы</h2>
            </div>
        </div>
        <div class="wrapper-content">
            <div class="col-12 content-info">
                <div class="five_block_container">
                    <div class="nav_feedback_mobile">
                        <div class="nav_feedback_left">
                            <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="scrollLeftM()">
                                <mat-icon style="margin-right: -7px;">arrow_back_ios</mat-icon>
                            </button>
                        </div>
                        <div class="nav_feedback_right">
                            <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="scrollRightM()">
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="nav_feedback">
                        <div class="nav_feedback_left">
                            <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="scrollLeft()">
                                <mat-icon style="margin-right: -7px;">arrow_back_ios</mat-icon>
                            </button>
                        </div>
                        <div class="nav_feedback_right">
                            <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="scrollRight()">
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="section-wrapper" #widgetsContent>
                        <div class="wrapper_feedback">
                            <app-a-carousel class="carousel_feedback"></app-a-carousel>
                        </div>
                        <div class="wrapper_feedback">
                            <app-b-carousel class="carousel_feedback"></app-b-carousel>
                        </div>
                        <div class="wrapper_feedback">
                            <app-c-carousel class="carousel_feedback"></app-c-carousel>
                        </div>
                        <div class="wrapper_feedback">
                            <app-d-carousel class="carousel_feedback"></app-d-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 content-img">
                <div class="reviews exmpl">
                    <img src="../../../assets/feedback.jpg">
                </div>
            </div>
        </div>
        <app-footer></app-footer> 
    </section>
  </div>
</div>
</div>

    <!-- первый блок -->
    <!-- <div class="first_block">
        <div class="first_block_container">
            <div class="first_block_container_name">
                <div class="wrapper exmpl">
                    <img src="../../../assets/620_2X.jpeg">
                </div>
            </div>
            <div class="first_block_container_wrapper">
                <div class="first_block_container_title">
                    <h2>{{ title }}</h2>
                </div>
                <div class="first_block_container_discrtiption">
                    <p>{{ discrtiption1 }}</p>
                </div>
            </div>
        </div>
        <div class="button__block">
            <button mat-button routerLink="/category">Каталог продукции</button>
        </div>
    </div> -->

    <!-- второй блок -->
    <!-- <div class="second_block">
        <div class="second_block_cont">
            <div class="second_block_name">
                <h2>О нас</h2>
            </div>
            <div class="second_block_content">
                <div class="second_block_content_right">
                     <div class="second_block_content_text">
                        <div class="wrapper exmpl box">
                            <img src="../../../assets/520_1Z.jpg">
                        </div>
                        <div class="second_block_content_text_container box">
                            <div class="second_block_content_text_name">
                                <p>{{ aboutParagraph1 }}</p>
                            </div>
                            <div class="second_block_content_text_name">
                                <p>{{ aboutParagraph2 }}</p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="button__block">
            <button mat-button routerLink="/about">Подробнее</button>
        </div>
    </div> -->

    <!-- третий блок -->
    <!-- <div class="third_block">
        <div class="third_block_container">
            <div class="third__block__container">
                <div class="third_block_container_name">
                    <h2>Наш ассортимент</h2>
                </div>
                <div class="third_block_container_content_left_discr opacity">
                    <div *ngFor="let item of assort">
                        <mat-card class="mat-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{ item.name }}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                {{ item.discrtiption }}
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-stroked-button class="button-action" (click)="isShowDetails(item.id)">Подробнее</button>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                </div>
                <div class="third_block_container_content">
                    <div class="third_block_container_content_left">
                        <div class="text-content box">
                            <p>{{ info }}</p>
                            <p>{{ subInfo }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- футер -->
<!-- <app-footer></app-footer> -->
