.sticky-container {
//   height: 100vh;
  height: 93vh;
  width: max-content;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.sticky-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93vh;
  scroll-snap-align: start;
}
.body-bg {
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    // background:
    //     linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
    //     linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
    //     linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
    //     linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
    //     // linear-gradient(transparent 3px, #dcf1f0 3px, #dcf1f0 78px, transparent 78px),
    //     linear-gradient(-90deg, #6bd3b4 1px, transparent 1px),
    //     // linear-gradient(-90deg, transparent 3px, #dcf1f0 3px, #dcf1f0 78px, transparent 78px),
    //     linear-gradient(#6bd3b4 1px, transparent 1px),
    //     #baf0eb;
    // background-size:
    //     4px 4px,
    //     4px 4px,
    //     80px 80px,
    //     80px 80px,
    //     80px 80px,
    //     80px 80px,
    //     80px 80px,
    //     80px 80px;
    background: url('./../../../assets/1065.jpg');
    background-size: cover;
}
.wrapper-content {
    display: flex;
    .wrapper {
        width: 50vw;
        height: 100vh;
        margin-left: 25px;
        border-radius: 35px 0px 0px 0px;
    }
    .exmpl {
        overflow: hidden;
        box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
    }
    .exmpl img {
        width: auto;
        height: 100%;
    }
    .content-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .first_block_container {
            background: #ffffff78;
            backdrop-filter: blur(3px);
            padding: 25px;
            border-radius: 5px;
            border: 1px solid #00000000;
            box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
            transition: all .2s ease-out;
            &:hover {
                border: 1px solid #a1f1ff;
            }
            h2 {
                font-family: 'Jura Light';
                color: #a1f1ff;
                font-size: 30px;
            }
            p {
                font-family: 'Hero Light';
                color: #fff;
                font-size: 18px;
            }
        }
        .button-order {
            line-height: 0px;
            text-decoration: none;
            padding: 17px 20px;
            position: relative;
            overflow: hidden;
            border: 1px solid #00000000;
            font-size: 18px;
            font-family: 'Jura Light';
            color: #fff !important;
            background: #ffffff78;
            box-shadow: 0px 0px 100px white;
            backdrop-filter: blur(3px);
            margin-top: 25px;
            text-transform:  uppercase;
            transition: .2s ease-in-out;
            &:hover {
                border: 1px solid #319a9e;
            }
        }
        .button-order:before {
            content: "";
            background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
            height: 60px;
            width: 50px;
            position: absolute;
            top: 0px;
            left: -80px;
            transform: skewX(-45deg);
        }
        .button-order:hover {
            background: #83bec5;
            color: #fff !important;
        }
        .button-order:hover:before {
            left: 100%;
            transition: .5s ease-in-out;
        }
        .button-order:focus {
            background: #83bec5;
            color: #fff !important;
            outline: none;
        }
    }
    .info {
        padding: 25px;
    }
}

.body-bg2 {
    background: url('./../../../assets/1066.jpg');
    background-size: 100% 100%;
    .wrapper-content {
        display: flex;
        .wrapper {
            width: 40vw;
            height: 60vh;
            margin-left: 25px;
            border-radius: 35px;
        }
        .exmpl {
            overflow: hidden;
            box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        }
        .exmpl img {
            width: auto;
            height: 100%;
        }
        .content-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .second_block_container {
                padding: 25px;
                width: 40vw;
                border-radius: 5px;
                border: 1px solid #00000000;
                transition: all .2s ease-out;
                h2 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 30px;
                }
                p {
                    font-family: 'Hero Light';
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
        .info {
            padding: 25px;
        }
    }
}

.body-bg3 {
    background: url('./../../../assets/1069.jpg');
    background-size: cover;
    .third_block_container_discrtiption_mobile {
        display: none;
    }
    .wrapper-content {
        display: flex;
        .wrapper {
            width: 40vw;
            height: 60vh;
            margin-left: 25px;
            border-radius: 35px;
        }
        .exmpl {
            overflow: hidden;
            box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        }
        .exmpl img {
            width: auto;
            height: 100%;
            // margin: 0px 0 0 -500px;
            // min-width: 100%;
            // min-height: 100%;
            // flex-shrink: 0;
        }
        .content-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .third_block_container_discrtiption {
                display: flex;
                .mat-card {
                    width: 20vw;
                    border-radius: 15px;
                    background: url(./../../../assets/bg10.jpg);
                    background-size: auto;
                    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
                    .mat-card-actions {
                        display: flex;
                        width: 100%;
                        margin: auto;
                        justify-content: space-between;
                    }
                    .button-action {
                        // width: 100%;
                        color: #4a4a4a;
                        border: 1px solid #ffffff00;
                        transition: .5s ease-in-out;
                    }
                }
                .mat-wrapper {
                    padding: 15px;
                    &:hover {
                        .mat-info {
                            display: block;
                            position: absolute;
                            opacity: 1;
                            top: 0px;
                            left: 0px;
                            height: -webkit-fill-available;
                            padding: 45px;
                            background: rgb(255 255 255 / 33%);
                            // background: #18222fc2;
                            margin: 0px;
                            border-radius: 15px;
                            text-align: center;
                            backdrop-filter: blur(10px);
                        }
                        .button-action {
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                }
                .mat-info {
                    // display: none;
                    opacity: 0;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: -webkit-fill-available;
                    text-align: center;
                    padding: 45px;
                    margin: 0px;
                    transition: .5s ease-in-out;
                }
            }
            .third_block_container {
                display: flex;
                flex-direction: column;
                align-items: center;            
                padding: 25px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid #00000000;
                transition: all .2s ease-out;
                h1 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 50px;
                }
                h2 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 30px;
                }
                h3 {
                    font-family: 'Jura Light';
                    color: #18222fc2;
                    font-size: 20px;
                    margin: 0px;
                }
                p {
                    font-family: 'Hero Light';
                    color: #18222fc2;
                    font-size: 18px;
                }
            }
        }
        .info {
            padding: 25px;
        }
    }
}

.body-bg4 {
    background: url('./../../../assets/1069.jpg');
    background-size: cover;
    .wrapper-content {
        display: flex;
        .four_block_item_mobile {
            display: none;
        }
        .wrapper {
            width: 40vw;
            height: 60vh;
            margin-left: 25px;
            border-radius: 35px;
        }
        .exmpl {
            overflow: hidden;
            box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        }
        .exmpl img {
            width: auto;
            height: 100%;
            // margin: 0px 0 0 -500px;
            // min-width: 100%;
            // min-height: 100%;
            // flex-shrink: 0;
        }
        .content-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .four_block_item {
                display: flex;
                .block_item {
                    display: flex;
                }
                .block_item_info {
                    width: 25vw;
                    display: flex;
                    padding: 25px;
                    align-items: center;
                }
                .mat-card {
                    width: 18vw;
                    border-radius: 15px;
                    background: url(./../../../assets/bg10.jpg);
                    background-size: auto;
                    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
                    .mat-card-actions {
                        display: flex;
                        width: 100%;
                        margin: auto;
                        justify-content: space-between;
                    }
                    .button-action {
                        // width: 100%;
                        color: #4a4a4a;
                        border: 1px solid #ffffff00;
                        transition: .5s ease-in-out;
                    }
                }
                .mat-wrapper {
                    padding: 15px;
                    &:hover {
                        .mat-info {
                            display: block;
                            position: absolute;
                            opacity: 1;
                            top: 0px;
                            left: 0px;
                            height: -webkit-fill-available;
                            padding: 45px;
                            background: #18222fc2;
                            margin: 0px;
                            border-radius: 15px;
                            text-align: center;
                            backdrop-filter: blur(10px);
                        }
                        .button-action {
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                }
                .mat-info {
                    // display: none;
                    opacity: 0;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: -webkit-fill-available;
                    text-align: center;
                    padding: 45px;
                    margin: 0px;
                    transition: .5s ease-in-out;
                }
            }
            .four_block_container {
                display: flex;
                flex-direction: column;
                align-items: center;            
                padding: 25px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid #00000000;
                transition: all .2s ease-out;
                h1 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 50px;
                }
                h2 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 30px;
                }
                h3 {
                    font-family: 'Jura Light';
                    color: #18222fc2;
                    font-size: 20px;
                    margin: 0px;
                }
                p {
                    font-family: 'Hero Light';
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        .info {
            padding: 25px;
        }
    }
}
.body-bg5 {
    background: url('./../../../assets/1069.jpg');
    background-size: cover;
    .nav_feedback {
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        .nav_feedback_left {
            padding: 5px;
            button {
                background: #0f1317;
                border: 1px solid #212f41;
            }
        }
        .nav_feedback_right {
            padding: 5px;
            button {
                background: #0f1317;
                border: 1px solid #212f41;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 93vh;
        .feedback-title {
            display: flex;
            justify-content: center;
            .five_block_container_title {
                h2 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 30px;
                    margin: 0;
                }
            }
        }
    }
    .wrapper-content {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
        .content-img {
            display: flex;
            align-items: center;
        }
        .reviews {
            width: 20vw;
            height: 40vh;
            margin-left: 25px;
            border-radius: 35px;
        }
        .exmpl {
            overflow: hidden;
            box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
        }
        .exmpl img {
            width: auto;
            height: 100%;
        }
        .content-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .five_block_container {
                padding: 25px;
                width: 40vw;
                border-radius: 5px;
                border: 1px solid #00000000;
                transition: all .2s ease-out;
                .wrapper_feedback {
                    display: flex;
                    flex-direction: column;
                    background: #0f1317;
                    border-radius: 10px;
                    border: 1px solid #212f41;
                    width: 670px;
                    height: 35vh;
                }
                h2 {
                    font-family: 'Jura Light';
                    color: #a1f1ff;
                    font-size: 30px;
                }
                p {
                    font-family: 'Hero Light';
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        .info {
            padding: 25px;
        }
    }
    .nav_feedback_mobile {
        display: none;
    }
}
.section-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    .wrapper_feedback {
        flex: 0 0 auto;
        margin: 15px;
        width: 250px;
        height: 300px;
        background: #868686;
    }
}





.container {
    width: 100%;
    background: #838383;
    .wrapper {
        width: 100%;
        background: #719481;
    }
}

.button__block{
    display: flex;
    justify-content: center;
    margin-top: -28px;
}
a{
    font-family: "Play", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0.78125%;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
// a:hover{
//     color: #000000;
//     border-bottom: 3px solid #F27A54 ;
//     opacity: 1;
// }
.button__block {
    button{
        background-image: linear-gradient(90deg, #54f2d0 -21.05%, #3f51b5 121.05%);
        height: 56px;
        max-width: 251.75px;
        width: 100%;
        border-radius: 30px;
        text-align: center;
        font-family: "Comfortaa", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13.25px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 10px solid white;
        transition: all .2s ease-out;
        &:hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}


/* первый блок */
.first_block{
    height: 850px;
    width: 100%;
    // background: #54bcb4;
    background: rgb(66,183,174);
    background: linear-gradient(90deg, rgba(66,183,174,1) 0%, rgba(66,183,174,1) 28%, rgba(84,188,180,1) 65%, rgba(84,188,180,1) 100%);
    background-image: url(../../../assets/1061.jpg);
    background-size: cover;
    margin-bottom: 100px;
    // background: linear-gradient(180deg, #FFFFFF 13.75%, rgba(245, 246, 250, 0.64854) 61.11%, rgba(245, 246, 250, 0) 100%), #FFFFFF;
    .first_block_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 62.5%;
        margin: 0 auto;
        height: 100%;
        .first_block_container_blocks{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .first_block_container_block{
            width: 33.3%;
            margin: 50px;
        }
        .first_block_container_name{
            font-family: "Play", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 139.9%;
            text-transform: uppercase;
            padding-top: 7vh;
            color: #5A5A5A;
            .wrapper {
                // width: 300px;
                height: 385px;
                // border: 5px solid #515151;
              }
              .exmpl {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
                border-radius: 10px;
              }
              .exmpl img {
                min-width: 100%;
                min-height: 100%;
                flex-shrink: 0;
              }
        }
        .first_block_container_discrtiption{
            font-family: "Comfortaa", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 139.9%;
            color: #fff;
        }
        .first_block_container_title{
            // font-family: "Play", sans-serif;
            // font-style: normal;
            // font-size: 40px;
            // font-weight: bold;
            // line-height: 139.9%;
            // color: #3f51b5;
            h2 {
                font-family: "Play", sans-serif;
                font-style: normal;
                font-size: 40px;
                font-weight: bold;
                line-height: 139.9%;
                color: #3f51b5;
            }
        }
        .first_block_container_wrapper {
            color: #fff;
            background: #ffffff33;
            backdrop-filter: blur(15px);
            border: 2px solid #3e5a6800;
            padding: 25px;
            width: fit-content;
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-radius: 5px;
            transition: .5s ease-in-out;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            &:hover {
                border: 2px solid #52bcb2;
            }
        }
    }
}




@media (min-width:360px) and (max-width:1345px) {
    .mobile-sticky1 {
        .sticky-section {
            height: 100vh;
            display: block;
            .wrapper-content {
                flex-direction: column-reverse;
                .first_block_container {
                    width: auto !important;
                }
                .content-info {
                    align-items: center;
                }
                .wrapper {
                    width: 100%;
                    height: 50vh;
                    margin-left: 0px;
                    border-radius: 0px 0px 35px 35px;
                }
                .exmpl img {
                    width: 100%;
                }
            }
        }
    }
    .mobile-sticky2 {
        .sticky-section {
            display: block;
            width: 100vh;
            height: 100vh;
            .wrapper {
                width: 100vw;
            }
            .wrapper-content {
                display: flex;
                flex-direction: column;
                .second_block_container {
                    width: auto !important;
                }
                .content-info {
                    align-items: center;
                }
                .wrapper {
                    width: 100%;
                    height: 30vh;
                    margin: 0px;
                    border-radius: 0px 0px 35px 35px;                
                }
                .exmpl img {
                    width: 100%;
                }
                .content-info {
                    display: block;
                    .second_block_container {
                        padding: 20px;
                        width: auto;
                        border: 1px solid rgba(0, 0, 0, 0);
                        transition: all 0.2s ease-out;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .second_block_container_discrtiption {
                            text-align: center;
                        }
                    }
                }
                .info {
                    padding: 0px;
                }
            }
        }
    }
    .mobile-sticky3 {
        .sticky-section {
            display: block;
            width: 100vw;
            height: 100vh;
            .wrapper-content {
                display: flex;
                flex-direction: column;
                .content-info {
                    align-items: center;
                }
                .third_block_container {
                    width: auto !important;
                    padding: 0px;
                }
                .card-wrapper {
                    margin-bottom: 15px;
                    .card-content {
                        display: flex;
                    }
                    .card-discrtiption {
                        width: 35vw;
                        background: url(./../../../assets/bg10.jpg);
                        background-size: auto;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        padding: 15px;
                        border-radius: 0px 10px 10px 0px;
                        .button-action {
                            color: #4a4a4a;
                            border: 1px solid rgba(255, 255, 255, 0);
                        }
                    }
                }
                .wrapper_mob {
                    height: 25vh;
                    width: 40vw;
                }
                .exmpl_mob {
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
                    border-radius: 10px 0px 0px 10px;
                  }
                .exmpl_mob img {
                    width: 100%;
                    min-height: 100%;
                    flex-shrink: 0;
                }
            }
        }
        .third_block_container_discrtiption {
            display: none !important;
        }
        .third_block_container_discrtiption_mobile {
            display: block !important;
        }
    }
    .mobile-sticky4 {
        .sticky-section {
            display: block;
            width: 100vw;
            height: 100vh;
            .wrapper-content {
                display: flex;
                flex-direction: column;
            }
            .four_block_container {
                padding: 0px !important;
            }
            .four_block_item_mobile {
                display: block;
                .block_item_info {
                    p {
                        font-size: 14px;
                        line-height: 1.2em;
                        text-align: center;
                    }
                }
                .card-item-wrapper {
                    margin-bottom: 10px;
                    .card-item-content {
                        display: flex;
                        .card-item-actions{
                            width: 41vw;
                            background: url(./../../../assets/bg10.jpg);
                            background-size: auto;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            padding: 15px;
                            border-radius: 0px 10px 10px 0px;
                            h3 {
                                font-family: "Jura Light";
                                color: rgba(24, 34, 47, 0.7607843137);
                                font-size: 20px;
                                margin: 0px;
                            }
                            button {
                                color: #4a4a4a;
                                border: 1px solid rgba(255, 255, 255, 0);
                            }
                        }
                        .wrapper_mob {
                            height: 15vh;
                            width: 40vw;
                        }
                        .exmpl_mob {
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
                            border-radius: 10px 0px 0px 10px;
                        }
                        .exmpl_mob img {
                            width: 100%;
                            min-height: 100%;
                            flex-shrink: 0;
                        }
                    }
                }
            }
        }
        .four_block_item {
            display: none !important;
        }
    }
    .mobile-sticky5 {
        .wrapper {
            height: 100vh;
        }
        .content-img {
            display: none !important;
        }
        .sticky-section {
            display: block;
            width: 100vw;
            height: 100vh;
            .wrapper-content {
                display: flex;
                flex-direction: column;
            }
        }
        .five_block_container {
            width: -webkit-fill-available !important;
            padding: 5px !important;
            .lwrapper_feedback {
                width: -webkit-fill-available;
                height: 45vh;
            }
        }
        .wrapper_feedback {
            width: min-content !important;
            height: 42vh !important;
            overflow-y: hidden;
        }
        .nav_feedback {
            display: none;
        }
        .nav_feedback_mobile {
            display: flex;
            justify-content: flex-end;
            .nav_feedback_right,
            .nav_feedback_left {
                button {
                    background: #0f1317 !important;
                    border: 1px solid #212f41 !important;
                    height: 45px !important;
                    width: 45px !important;
                    ::ng-deep .mat-button-wrapper {
                        padding: 8px 0 !important;
                    }
                }
            }
        }
    }











    .first_block_container {
        width: 90vw !important;
        .first_block_container_name {
            padding-top: 0vh !important;
        }
    }
    .text-content {
        text-align: justify;
    }
    .exmpl {
        justify-content: flex-start !important;
        align-items: stretch !important;
    }
    .second_block {
        height: 1150px;
        .second_block_cont {
            width: 90vw;
            .second_block_content_text_container {
                margin-left: 0px;
                text-align: justify;
            }
            .second_block_content {
                display: block;
            }
            .second_block_content_text {
                flex-direction: column;
            }
            .wrapper {
                width: auto;
                height: 300px;
            }
            .exmpl {
                flex-direction: column;
            }
        }
    }
    .third_block_container {
        width: 91vw;
    }
    .third_block_container_content_left_discr {
        flex-direction: column;
        padding-bottom: 0px;
        .mat-card {
            margin-bottom: 25px;
            width: auto;
            height: auto;
        }
    }
    .third_block_container_name {
        font-size: 40px;
    }
  }