    <!-- хэдер -->
<app-header></app-header>
    <!-- первый блок -->
    <div class="first_block">
        <div class="first_block_container">
            <div class="first_block_container_name">
                <div class="wrapper exmpl">
                    <img src="../../../assets/620_2X.jpeg">
                </div>
            </div>
            <div>
                <div class="first_block_container_title">
                    {{ title }}
                </div>
                <div class="first_block_container_discrtiption">
                    {{ discrtiption }}
                </div>
            </div>
            <div class="first_block_container_blocks">
                <!-- первый блок -->
                <!-- <div class="first_block_container_block">
                    <div class="first_block_container_block_img">
                        <img src="src/access_time1.png" alt="image">
                    </div>
                    <div class="first_block_container_block_name">
                        План питания
                    </div>
                    <div class="first_block_container_block_discr">
                        Полноценный, сбалансированный, созданный лично для вас
                    </div>
                </div> -->
                <!-- второй блок -->
                <!-- <div class="first_block_container_block">
                    <div class="first_block_container_block_img">
                        <img src="src/access_time2.png" alt="image">
                    </div>
                    <div class="first_block_container_block_name">
                        Видео-тренировки
                    </div>
                    <div class="first_block_container_block_discr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div> -->
                <!-- третий блок -->
                <!-- <div class="first_block_container_block">
                    <div class="first_block_container_block_img">
                        <img src="src/access_time3.png" alt="image">
                    </div>
                    <div class="first_block_container_block_name">
                        Консультация 24/7
                    </div>
                    <div class="first_block_container_block_discr">
                        Задайте вопрос в любое время нашим экспертам: диетологу, тренеру и психологу!
                    </div>
                </div> -->
            </div>  
        </div>
        <div class="button__block">
            <button mat-button>Каталог продукции</button>
            <!-- <button>Каталог продукции</button> -->
        </div>
    </div>

    <!-- второй блок -->
    
    <div class="second_block">
        <div class="second_block_cont">
            <div class="second_block_name">
                О нас
            </div>
            <div class="second_block_content">
                <!-- <div class="second_block_content_left">
                    <img id="second_block_image" src="src/ttt.png" alt="image">
                </div> -->
                <div class="second_block_content_right">
                    
                    <!-- цифра 1 -->
    
                     <div class="second_block_content_text">
                        <div class="wrapper exmpl">
                            <img src="../../../assets/520_1Z.jpg">
                        </div>
                        <!-- <div class="second_block_content_text_image">
                            <img id = "number_color1" src="../../../assets/520_1Z.jpg" alt="image">
                        </div>     -->
                        <div class="second_block_content_text_container">
                            <div class="second_block_content_text_name">
                                {{ aboutParagraph1 }}
                            </div>
                            <div class="second_block_content_text_name">
                                {{ aboutParagraph2 }}
                            </div>
                            <!-- <div class="second_block_content_text_discr">
                                Вы можете выбрать любой наш курс. Что самое приятное, при продлении подписки вы можете сменить его! А если хочется остаться на старом - мы заменим вам 2 блюда в рационе на новые! Скоро будем выпускать новые курсы и планы питания. С нами не соскучишься! ;)
                            </div> -->
                        </div>    
                    </div>
    
                    <!-- цифра 2 -->
    
                    <!-- <div class="second_block_content_text">
                        <div class="second_block_content_text_image">
                            <img id = "number_color1" src="src/2.png" alt="image">
                        </div> 
                        <div class="second_block_content_text_container">
                            <div class="second_block_content_text_name">
                                {{ aboutParagraph2 }}
                            </div>
                            <div class="second_block_content_text_discr">
                                Чат с диетологом, чат с тренером и общий чат с психологом - в вашем полном распоряжении. Наши эксперты всегда готовы прийти на помощь!
                            </div>
                        </div>
                    </div> -->
    
                    <!-- цифра 3 -->
    
                    <!-- <div class="second_block_content_text">
                        <div class="second_block_content_text_image">
                            <img id = "number_color1" src="src/2.png" alt="image">
                        </div> 
                        <div class="second_block_content_text_container">
                            <div class="second_block_content_text_name">
                                Доступность
                            </div>
                            <div class="second_block_content_text_discr">
                                Мы предоставляем полноценные, отработанные инструменты, которые помогут каждой! Мы не считаем, что нужно делить наших участниц на VIP и не VIP персон
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- <div class="second_block_footer">
                Рады приветствовать тебя в семье FIT GO!
            </div> -->
        </div>
        <div class="button__block">
            <button mat-button>Подробнее</button>
        </div>
    </div>

    <!-- третий блок -->

    <div class="third_block">
        <div class="third_block_container">
            <div class="third__block__container">
                <div class="third_block_container_name">
                    Наш ассортимент
                </div>
                <div class="third_block_container_content_left_discr">

                    <div *ngFor="let item of assort">

                        <mat-card class="mat-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{ item.name }}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                {{ item.discrtiption }}
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-stroked-button class="button-action">Подробнее</button>
                            </mat-card-actions>
                          </mat-card>

                    </div>
                </div>
                <div class="third_block_container_content">
                    <div class="third_block_container_content_left">
                        <div class="text-content">
                            <p>{{ info }}</p>
                            <p>{{ subInfo }}</p>
                        </div>
                        <!-- <div class="third_block_container_content_left_img">

                            <div class="fourth_block_content_left_images_one">
                                <div class="fourth_block_content_left_images_one_img">  
                                    <img id="food1" src="src/eat1.png" alt="image">
                                </div>     
                                <div class="fourth_block_content_left_images_name" >Завтрак</div>
                            </div>

                            <div class="fourth_block_content_left_images_one">
                                <div class="fourth_block_content_left_images_one_img">  
                                    <img id="food1" src="src/eat2.png" alt="image">
                                </div>     
                                <div class="fourth_block_content_left_images_name" >Полдник</div>
                            </div>

                            <div class="fourth_block_content_left_images_one">
                                <div class="fourth_block_content_left_images_one_img">  
                                    <img id="food1" src="src/eat1.png" alt="image">
                                </div>     
                                <div class="fourth_block_content_left_images_name" >Обед</div>
                            </div>

                            <div class="fourth_block_content_left_images_one">
                                <div class="fourth_block_content_left_images_one_img">  
                                    <img id="food1" src="src/eat2.png" alt="image">
                                </div>     
                                <div class="fourth_block_content_left_images_name" >Ужин</div>
                            </div>
                                
                        </div> -->
                    </div>
    
                </div>
            </div>
            <!-- <div class="third_block_container_content_rigth">
                <img id = "rigth_image" src="src/3663_1.png" alt="image">
            </div> -->
            
        </div>
        <!-- <div class="button__block">
            <button>Оставить заявку</button>
        </div> -->
    </div>

    <!-- футер -->

    <footer>
        <div class="footer_container">
            <div class="footer_container_logo">
                <div class="wrapper exmpl">
                    <img id = "header_container_logo_img" src="../../../assets/logo.jpeg" alt="image">
                </div>
            </div>
            <div class="footer_container_center_nemu">
                <ul class="header_container_right_menu_ul">
                    <li class="footer_container_menu_ul_li"><a href="#">Стики</a></li>
                    <li class="footer_container_menu_ul_li"><a href="#">Устройства</a></li>
                    <li class="footer_container_menu_ul_li"><a href="#">Главная</a></li>
                    <li class="footer_container_menu_ul_li"><a href="#">Контакты</a></li>
                    <li class="footer_container_menu_ul_li"><a href="#">О нас</a></li>
                </ul>
            </div>
            <div class="footer_container_right_menu">
                <div class="button_block">
                    <button mat-raised-button>Заказать</button>
                </div>
                <div class="contacts">
                    <div class="number">
                        <div class="number_img">
                            <mat-icon>perm_identity</mat-icon>
                            <!-- <img src="src/Vector.png" alt="image"> -->
                        </div>
                        <div class="number_number">
                            Менеджер: @Alena_ilumastoreRUS
                        </div>
                    </div>
                    <div class="web_site">
                        <!-- <div class="number_img">
                            <img src="src/Vector_(1).png" alt="image">
                        </div> -->
                    
                            <div class="number_img">
                                <mat-icon>currency_exchange</mat-icon>
                                <!-- <img src="src/Vector.png" alt="image"> -->
                            </div>
                            <div class="number_number">
                                Продажа Iqos Iluma(One, Standart,Prime), а также стиков "Terea".
                            </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </footer>
