/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Play:wght@400;700&display=swap');
@font-face {
  font-family: 'PostalShrift';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/PostalShrift.ttf') format('truetype'),
}
@font-face {
  font-family: 'distroy23';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/distroy.23.ttf') format('truetype'),
}
@font-face {
  font-family: 'Soyuz Grotesk';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/Soyuz_Grotesk_Bold.otf') format('truetype'),
}
@font-face {
  font-family: 'TT Supermolot Neue Trl Ext Th';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/TT-Supermolot-Neue-Regular.ttf') format('truetype'),
}
@font-face {
  font-family: 'Hero Light';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/Hero-Regular.ttf') format('truetype'),
}
@font-face {
  font-family: 'Fundamental Brigade Schlank';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/Fundamental Brigade Schlank.ttf') format('truetype'),
}
@font-face {
  font-family: 'Fundamental Brigade';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/Fundamental Brigade.ttf') format('truetype'),
}
@font-face {
  font-family: 'Horta';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/horta.ttf') format('truetype'),
}
@font-face {
  font-family: 'Jura Light';
  font-style: normal;
  font-weight: 400;
  src:
       url('./assets/Jura.ttf') format('truetype'),
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #18222f;
}
::-webkit-scrollbar
{
	width: 5px;
	// background-color: #F5F5F5;
  height: 5px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #486080;
}
html, body{
    overflow-x: hidden;
    max-width: 1920px;
    width: 100%;
    margin: 0;
    background-color: #fff;
} 
.opacity {
  opacity: 0;
  transition: opacity 0.4s ease;
  }
.box {
  transform: translateX(-800px);
  transition: transform 0.4s ease;
}
  
.box:nth-of-type(even) {
  transform: translateX(800px);
} 
.box.show {
  transform: translateX(0);
}
  