<app-header></app-header>
<div class="second_block">
  <div class="second_block_cont">
      <div class="second_block_content">
          <div class="second_block_content_right">
               <div class="second_block_content_text">
                  <div class="wrapper exmpl">
                      <img src="../../../../assets/device.jpg">
                  </div>
                  <div class="second_block_content_button">
                    <button mat-button class="button-name" routerLink="/device"> Устройства </button>
                  </div>
                </div>  
                  <div class="second_block_content_text">
                    <div class="wrapper exmpl">
                      <img src="../../../../assets/sticks.jpg">
                    </div>
                    <div class="second_block_content_button">
                      <button mat-button class="button-name" routerLink="/sticks"> Стики </button>
                    </div>
                  </div>  
              </div>
          </div>
      </div>
  </div>
<app-footer></app-footer>

